<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Salão</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

  <h1>Serviços</h1>
  <div id="lista-servicos"></div>

  <h2>Selecionados</h2>
  <ul id="servicos-selecionados"></ul>

  <h3>Total: R$ <span id="total">0.00</span></h3>

  <hr>

  <h2>Agendamento</h2>

  <input type="text" id="cliente" placeholder="Nome do cliente">
  <br><br>

  <button onclick="confirmarAgendamento()">Confirmar Agendamento</button>

  <p id="mensagem"></p>
  <hr>

  <h2>Agendamentos</h2>
  <ul id="lista-agendamentos"></ul>
  <h3>Duração Total: <span id="duracao">0</span> min</h3>
  <h3>Quantidade de Serviços: <span id="quantidade">0</span></h3>
  
  <script src="/static/script.js"></script>
</body>
</html>